body {
    background-color: #fff;
}

#nav ul, #nav ul li {
    display: inline;
    list-style: none;
}
#nav ul li {
    cursor: pointer;
    line-height: 200%;
    margin: 0 1em;
}


.chart {
    background-color: white;
}

.chart rect {
    fill: steelblue;
    stroke: white;
}
.chart text {
    font: 10px sans-serif;
    stroke: white;
}
.chart text.black {
    stroke: black;
}
