body {
    background-color: #ddd;
}

.chart {
    background-color: white;
}

.chart rect {
    fill: steelblue;
    stroke: white;
}

.chart text {
    font: 10px sans-serif;
    stroke: white;
}

.chart text.black {
    stroke: black;
}
